/* .card1 {
    position: relative;
    transition: all .5s ease-in;
  }
  
  
  .card_front {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: none;
    transition: .5s ease;
    background-color: #393839;
  }
  
  .card1:hover .card__overlay {
    opacity: 1;
  }
  
  .overlay__text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
   */
